#uploadSong {
    display: none;
}

audio {
    position: fixed;
    left: 10px;
    bottom: 10px;
    width: calc(100% - 20px);

    display: none;
}

body {
    background-color: #181818;
}

.AppTitle {
    margin-top: 50px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 75%;

    color: #fff;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;

    text-align: center;
}

.canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 75%;
}


.uploadLabel {
    position: fixed;
    top: 50px;
    left: 10px;
    z-index: 100;

    text-align: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;

    cursor: pointer;

    margin-top: 10px;

    padding: 2px;
    border: solid #fff;
    border-radius: 5px;
}

.testSongButton {
    position: fixed;
    top: 25px;
    left: 10px;
    z-index: 100;

    text-align: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;

    cursor: pointer;

    padding: 2px;
    border: solid #fff;
    border-radius: 5px;

    background: none;
}

.songBar {
    position: fixed;
    left: 10px;
    bottom: 10px;
    width: calc(100% - 20px);
    height: 10%;

    justify-content: center;
    align-items: center;

    background-color: #0C0C0C;
}

.PP {
    margin-top: 20px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 75%;

    height: 50px;
    width: 50px;

    border: none;

    background: url(PageArt/playButton.png);
    background-size: cover
}

.ThemeSelect {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;

    padding: 2px;
    border: solid #fff;
    border-radius: 5px; 
    background: none;

    position: fixed;
    top: 100px;
    left: 175px;
    z-index: 100;
}

.ThemeSelectLabel {
    position: fixed;
    top: 100px;
    left: 10px;
    z-index: 100;

    color: #fff;
    font-family: Arial, Helvetica, sans-serif;

    padding: 2px;
    border: solid #fff;
    border-radius: 5px;
    background: none;
}